# General
.DS_Store
node_modules/
dist/
build/
.env
*.log

# Python
*.pyc
__pycache__/
instance/
venv/
env/
*.env
*.sqlite3

# Flask
*.db
migrations/
*.pyc
*.pyo
*.pyd

# React
node_modules/
public/*.html
public/favicon.ico
public/manifest.json
public/robots.txt
build/
src/**/*.js.map
src/**/*.css.map

# Logs
logs/
*.log

# Testing
coverage/
pytest_cache/
.cache/

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
